/**:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


input[type="text"] {
  border: none;
  border-radius: 8px;
  font-size: 15px;
  height: 45px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 500px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

.get {
  color: #FFF;
  background-color: #0000e5;
  font-family: 'Nunito Sans';
  font-size: 15px;
  border: 1px solid #0000b2;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1);

}

.logo {
  width: 1300px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -80px;
}

.get:hover {
  background-color: pink;
  color: white;
  border: 1px solid red;
}

html {
  background: url(../img/wolf.jpg) no-repeat;
  background-size: 1920px 1080px;
}

 .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hiddenbtn {
  color: #FFF;
  margin-top: 100px;
  height: 50px;
  background-color: #0000e5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #0000b2;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display: none;
}

.responsive {
  visibility: hidden;
}

#basic-addon1 {
  background: white;
  margin-top: 20px;
  padding-top: 1px;
  padding-bottom: 21px;
}

.container-3{
  width: 800px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
 
.container-3 input#search{
  width: 800px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  background-color: rgba(15,15,15,0.5);
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.container-3 .icon{
  position: absolute;
  top: 20%;
  margin-left: -33px;
  margin-top: 3px;
  z-index: 1;
  color: #4f5b66;
}
*/

body {
    background-image: url('../img/mainbg.jpg');
    background-size: cover no-repeat;
}

.layer1 {
    background-color: rgba(0,0,0,0.3);
    height: 1000px;
}

.slogan {
    color: white;
    font-family: 'Source Sans Pro';
}

.main-content {
    position: relative;
    top: 33%;
    transform: translateY(-50%); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color:
}


.bars {
    margin-top: 30px;
    color: rgba(255,255,255,0.8);
    margin-right: 90px;
    float: right;
}


img {
    height: 100px;
    width: 200px;
}

.logo {
    float: left;
    margin-left: 20px; 
    margin-top: 20px;
    font-size: 36px;
}

.smalltext {
    margin-top: -50px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.fa-angle-down {
    color: white;
}

#treats {
    color: hotpink;
}


/*FORM */
input[type="text"] {
  border: none;
  border-radius: 8px;
  font-size: 15px;
  height: 45px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100px;
  background-color: #e8eeef;
  color: white;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

.box {
  right: 50%;
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fa-search {
    color: white;
}

input::placeholder {
    color: white;
}
 
.container-3 input#search{
  width: 100%;
  height: 40px;
  border: none;
  font-size: 10pt;
  float: right;
  background-color: rgba(105,105,105, 0.8);
  padding-left: 45px;
  border-radius: 25px;
  color: #fff;
  box-shadow: 2px 2px 2px 0px #000
/*      , -1px -2px 2px 0.5px #000*/;
    box-shadow: 1;
}

.container-3 .icon{
  position: absolute;
  top: 12%;
  margin-left: 90%;
  margin-top: 3px;
  z-index: 1;
  color: #4f5b66;
}

.cards {
    height: 100px;
    background-color: red;
}



                                        /*info page*/

.layer2 {
/*    background-color: rgba(255,105,180,0.8);*/
    height: 1000px;
}

.layer3 {
    float: right;
    background-color: #C0C0C0;
    height: 90%;
    width: 50%;
    overflow: hidden;
}

#About {
    float: right;
    padding: 20px 40px;
    margin-top: 20px;
    margin-right: 50px;
    border: 2px solid #696969;
}

.layer4 {
    float: left;
    background-color: #fff;
    height: 90%;
    width: 50%;
    overflow: hidden;
}

#Eat {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 15px;
    color: #ababab;
    font-weight: bold;
}

#All {
    margin-top: -52px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
}


.eatcontainer {
  margin-top: 250px;
min-width: 70%;
}

textarea {
    width: 100%;
    margin-top: 10px;
    height: 300px;
    font-family: 'Nunito Sans';
}

.submit {
    background-color: grey;
    margin-top: 30px;
    margin-left: 35%;
    width: 200px;
    border-radius:  10px 3px;
}

.layer4 {
    padding-top: 200px;
    padding-left: 45px;
}

textarea,
.form-control {
    background-color: grey; 
    border-radius: 10px;
    border: none;
}

textarea {
    padding: 10px;
}

.touch {
    margin-top: -50px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px; 
}

input[type=text] {
    background-color: grey; 
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.span {
    border-bottom: 2px solid grey;
}

.desc {
    padding-right: 30px;
    line-height: 25px;
    text-align: right;
    font-family: 'Nunito Sans';
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
    .bars {
        margin-right: 20px;
        margin-top: 40px;
    }
    
    .layer3 p {
        font-size: 10px;
        line-height: 15px;
    }
    
    #Eat {
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    #All {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

