.restaurants {
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 60px;
    background-color: grey;
    border-radius: 20px;
    overflow: hidden;
}

.simple {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
}

.names {
    font-size: 20px;
}

.stars {
    font-size: 30px;
    color: lightgray;
    margin-top: -15px;
}

body {
    background-image: url('../img/mainbg.jpg');
    background-size: cover no-repeat;
}

.cardholder {
    width: 100%;
}

.open {
    margin-top: -10px;
}




